<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641232324445-v50ug1st92ibpkrhm2r7laci86k4c99r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641232324445-v50ug1st92ibpkrhm2r7laci86k4c99r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>641232324445-aaokecqvlpogf16v8oqugjal8vvf83s5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5hdMPMl6ziILlFR6ehdzGr2xlfWpmtOw</string>
	<key>GCM_SENDER_ID</key>
	<string>641232324445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tagirahmad.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-87fde</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-87fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641232324445:ios:a3d538e08145e37b960ab4</string>
</dict>
</plist>